<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Sign Up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-button color="primary" (click)="goToForgotPassword()">Forgot Password</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button color="primary" (click)="goToRegisterPage()">Sign Up</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>